.image {
  width: 200px;
  height: 300px;
  object-fit: contain;
  margin: 0 auto;
}

.CartIcon:hover {
  cursor: pointer;
}

.total {
  height: 100%;
}

.custom-nav {
  height: 10vh;
  font-size: 19px;
  justify-content: space-around !important;
}

.align-center {
  margin: 0 auto;
}